aws_region = "us-east-1"
project_name = "service-order"
environment = "production"

vpc_id = "vpc-xxxxxxxx"
private_subnet_ids = ["subnet-xxxxxxxx", "subnet-yyyyyyyy"]
app_security_group_id = "sg-xxxxxxxx"

db_name = "service_order_db"
db_username = "service_order_user"
db_password = "change-me"
db_instance_class = "db.t4g.micro"
db_allocated_storage = 20
db_engine_version = "16.10"
publicly_accessible = false
